{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/collapse.js" defer></script>
{% endblock %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<div class="welcome">
  <div class="container title-region flex column center-justify">
    <h1 class="h1 no-margin">Welcome, {{ username }}.</h1>
    <p>Ready for workout?</p>
  </div>
  <div class="container separate grid">
    <div class="card">
      <a class="flex column between-justify" href="/workouts/start">
        <h3 class="h3 no-margin">Start workout</h3>
        <p class="no-margin">Use one of your routines and let Fitzz guide your training.</p>
      </a>
    </div>
    <div class="card">
      <a class="flex column between-justify" href="/workouts">
        <h3 class="h3 no-margin">Workouts</h3>
        <p class="no-margin">Review workout history.</p>
      </a>
    </div>
    <div class="card">
      <a class="flex column between-justify" href="/routines">
        <h3 class="h3 no-margin">Routines</h3>
        <p class="no-margin">Review and change the weight, reps, or sets of your routines, or create new ones.</p>
      </a>
    </div>
    <div class="card">
      <a class="flex column between-justify" href="/statistics">
        <h3 class="h3 no-margin">Statistics</h3>
        <p class="no-margin">View your muscle distribution for the month or all time.</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}