{% extends "base.html" %}

{% block scripts %}
    <script src="/static/js/input.js"></script>
{% endblock %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <div class="displayer">
        <div class="division">
            <div class="division-side left flex column gap center-justify">
                <img class="logo" src="/static/images/fitzz.webp" alt="fitzz">
                <h2 class="h2 text-center no-margin">Create an account</h2>
                <form class="flex column" action="/signup" method="post">
                    <div class="input-group">
                        <input class="input cover" id="username" name="username" type="text" autocomplete="off">
                        <label for="username" class="input-label">Username</label>
                    </div>
                    <div class="input-group">
                        <input class="input cover" id="password" name="password" type="password">
                        <label for="password" class="input-label">Password</label>
                    </div>
                    <div class="input-group">
                        <input class="input cover" id="confirmation" name="confirmation" type="password">
                        <label for="confirmation" class="input-label">Confirm Password</label>
                    </div>
                    <button class="btn" type="submit">Sign Up</button>
                </form>
            </div>
            <div class="division-side right flex column gap center-justify">
                <h2 class="h2 text-center no-margin">Already have an account?</h2>
                <div class="flex column gap">
                    <p class="text-center">Log in and jump back in!</p>
                    <form class="flex column gap" action="/login">
                        <button class="btn" type="submit">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
